h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.5rem; }

h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 2.3rem; }

h3 {
  font-family: "Mulish", sans-serif;
  font-weight: 900; }

.card {
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s; }
  .card h3 {
    font-size: 1.2rem; }
  .card p {
    font-size: .8rem; }

.card:hover {
  transform: scale(1.1); }

.card-tienda {
  background-color: #FEFEFE;
  color: #4637A6;
  margin: 0px 15px 40px 15px;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 20px;
  width: 200px;
  height: 360px;
  overflow: hidden; }
  .card-tienda h3 {
    font-size: 20px; }
    .card-tienda h3 span {
      font-size: 13px;
      background-color: #4fbd5f !important; }
  .card-tienda p {
    font-size: 15px; }
  .card-tienda .img__tienda {
    width: 200px;
    height: 250px; }
  .card-tienda button {
    font-family: "Mulish", sans-serif;
    color: #FEFEFE;
    background-color: #F2508B;
    border-radius: 50px;
    border: none; }

.card-tienda:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
  background-color: #F2508B;
  color: #FEFEFE; }
  .card-tienda:hover .button {
    background-color: #FEFEFE;
    color: #4637A6; }

body {
  margin: 0px;
  padding: 0px;
  font-family: muli, sans-serif;
  font-weight: 800;
  background-color: #F1F4F9; }

/*--------------------------Aqui esta la page index ---------------------------*/
.container_background {
  margin: 0px 25px;
  padding: 0px;
  width: 100%;
  text-align: center; }

.container__encabezado {
  text-align: center;
  padding: 20px;
  background-color: #4637A6; }
  .container__encabezado h1 {
    color: #FEFEFE; }

.container__nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 600;
  padding: 0px 10px 0px 15px;
  color: #4637A6 !important; }

.row {
  margin: 0px;
  padding: 0px; }

.container-fluid {
  margin: 0px;
  padding: 0px; }

.img__logo {
  width: 2rem; }

.img__slider {
  width: 100%;
  height: 80vh; }

.text__ofert {
  cursor: pointer;
  background-color: #F2508B;
  border-radius: 10px;
  border: solid 1px #857f7f;
  width: 200px;
  height: 300px;
  align-self: center;
  text-align: center;
  padding-top: 50px; }
  .text__ofert h2 {
    color: #FEFEFE; }
  .text__ofert h3 {
    color: #FEFEFE; }

.text__ofert:hover {
  background-color: #FE5E66; }

.container__info {
  background-color: #4637A6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #FEFEFE;
  width: 100%;
  height: 350px; }
  .container__info .icon__info {
    color: #FEFEFE;
    font-size: 9rem; }

.container__icon--pagos {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 5rem;
  color: #ccc4c4; }

.text__pagos {
  text-align: center;
  color: #4637A6; }

.btn-tienda {
  background-color: #FEFEFE;
  cursor: pointer;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
  color: #4637A6;
  padding: 50px; }
  .btn-tienda .icon__tienda {
    color: #4637A6;
    font-size: 7rem; }

.btn-tienda:hover {
  background-color: #F2508B;
  color: #FEFEFE; }
  .btn-tienda:hover .icon__tienda {
    color: #FEFEFE; }

.btn-oulet {
  background-color: #FEFEFE;
  cursor: pointer;
  box-shadow: 0px 10px 10px -6px black;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  text-align: center;
  color: #4637A6;
  padding: 50px; }
  .btn-oulet .icon__oulet {
    color: #4637A6;
    font-size: 7rem; }

.btn-oulet:hover {
  background-color: #F2508B;
  color: #FEFEFE; }
  .btn-oulet:hover .icon__oulet {
    color: #FEFEFE; }

/*---------------------Aqui esta el boton de whatsapp ---------------------------*/
.btn__whatsapp {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #25D940;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
  z-index: 100;
  animation: latidos 3s infinite; }
  .btn__whatsapp .icon__whatsapp {
    font-size: 3rem;
    color: #FEFEFE; }

@keyframes latidos {
  from {
    transform: none; }
  50% {
    transform: scale(1.2); }
  to {
    transform: none; } }

.btn__whatsapp:hover {
  background-color: #FEFEFE; }
  .btn__whatsapp:hover .icon__whatsapp {
    color: #25D940; }

/*---------------------------Aqui esta el footer -----------------------------*/
footer {
  background-color: #4637A6;
  color: #FEFEFE;
  font-weight: 600;
  padding: 10px 10px 0px 25px; }
  footer ul li {
    display: block; }
    footer ul li a {
      text-decoration: underline;
      font-weight: 400;
      color: #FEFEFE; }
  footer .footer__derechos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37344F;
    color: #FEFEFE;
    text-align: center;
    font-weight: 400; }

/* ---------------------------Aqui Empieza la tienda -------------------------------------*/
#jeans:checked ~ #cards .remeras {
  display: none; }

#jeans:checked ~ #cards .buzos {
  display: none; }

#jeans:checked ~ #cards .camperas {
  display: none; }

#buzos:checked ~ #cards .remeras {
  display: none; }

#buzos:checked ~ #cards .jean {
  display: none; }

#buzos:checked ~ #cards .camperas {
  display: none; }

#remeras:checked ~ #cards .jean {
  display: none; }

#remeras:checked ~ #cards .camperas {
  display: none; }

#remeras:checked ~ #cards .buzos {
  display: none; }

#camperas:checked ~ #cards .buzos {
  display: none; }

#camperas:checked ~ #cards .jean {
  display: none; }

#camperas:checked ~ #cards .remeras {
  display: none; }

.container__flitro {
  width: 100%;
  background-color: #4637A6;
  text-align: center;
  font-weight: 400;
  color: white; }
  .container__flitro label {
    padding: 10px; }

.container__articulos .remeras {
  width: 100%;
  background-color: #F1F4F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.container__articulos .jean {
  width: 100%;
  background-color: #F1F4F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.container__articulos .buzos {
  width: 100%;
  background-color: #F1F4F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.container__articulos .camperas {
  width: 100%;
  background-color: #F1F4F9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

/* --------------------------Aqui empieza la page locales ------------------------*/
.container__locales {
  text-align: center;
  color: #4637A6; }

.img__local {
  border-radius: 10px; }

.container__text--local {
  color: #37344F;
  background-color: #FEFEFE;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  width: 550px;
  height: 200px; }

.container__info--locales {
  color: #37344F; }
  .container__info--locales .redes {
    color: #4637A6;
    font-size: 3rem; }
    .container__info--locales .redes a {
      text-decoration: none;
      color: #4637A6; }

/* --------------------Aqui comienza la page Contacto--------------------*/
.container__form {
  background-color: #F1F4F9; }

.text__contacto {
  background-color: #FEFEFE;
  align-self: center;
  text-align: center;
  border: 5px solid #F2508B;
  border-radius: 100px;
  box-shadow: 0px 10px 10px -6px black; }
  .text__contacto h1 {
    font-size: 2rem;
    color: #4637A6; }

.form-contact {
  color: #FEFEFE;
  width: 400px;
  height: 600px;
  padding: 20px;
  text-align: center;
  background-color: #F2508B;
  border-radius: 25px; }

/*--------------------- Aqui estan las MediaQueries -----------*/
@media (max-width: 768px) {
  .container__encabezado h1 {
    font-size: 1.5rem; }
  .container__icon--pagos {
    font-size: 2rem; }
  .container__info {
    width: 100%;
    height: 400px; }
    .container__info .icon__info {
      font-size: 2rem; }
  .img__slider {
    height: 40vh; } }

@media (max-width: 576px) {
  .container__info {
    width: 100%;
    height: 460px; }
    .container__info .icon__info {
      font-size: 2rem; }
  .text__ofert {
    width: 90%;
    height: 100px;
    padding-top: 40px; }
    .text__ofert h2 {
      font-size: 1.5rem; }
  .container__flitro label {
    padding: 5px;
    font-size: 0.7rem !important;
    font-weight: 400 !important; } }

.text__contacto {
  width: 90%; }
  .text__contacto h1 {
    font-size: 1.2rem; }
