@import "variables";
@import "fonts";
@import "mixins";
@import "cards";

.container_background{
    margin:0px 25px;
    padding:0px;
    width: 100%;
    text-align: center;
    
    
}

body{
    margin:0px;
    padding:0px;
    font-family:muli, sans-serif;
    font-weight: 800;
    color:$cool-morado;
    background-color:$cool-background;
}

.nav-item{
    padding:0px 15px;
    a{
    color:$cool-morado;
}
}

.row{
    margin:0px;
    padding:0px;
}

.container-fluid{
    margin:0px;
    padding:0px;
}
.img__logo{
    width: 2rem;
}

.img__slider{
    width: 100%;
    height: 80vh;
}

.text__ofert{
    cursor:pointer;
    background-color: $cool-rosa;
    border-radius: 10px;
    border: solid 1px #857f7f;
    width:200px;
    height:300px;
    align-self: center;
    text-align: center;
    padding-top: 50px;
     h2{
         color: $cool-blanco;
     }
}

.container__info{
    background-color: $cool-negro;
    width: 100%;
    height: 400px;
}

.icon__info{
    color: $cool-blanco;
    font-size:11rem ;

}