@import "variables";
@import "fonts";
@import "mixins";
@import "cards";


body{
    @include reset-pm;
    font-family:muli, sans-serif;
    font-weight: 800;
    background-color:$cool-background;
}

/*--------------------------Aqui esta la page index ---------------------------*/

.container_background{
    margin:0px 25px;
    padding:0px;
    width: 100%;
    text-align: center;
}

.container__encabezado{
    text-align: center;
    padding: 20px;
    background-color: $cool-morado;
    h1{
        color:$cool-blanco;
    }
}

.container__nav{
    .nav-item{
        .nav-link{
            font-size: 20px;
            font-weight: 600;
            padding: 0px 10px 0px 15px;
            color:$cool-morado !important;   
        }
    }
}

.row{
    @include reset-pm;
}

.container-fluid{
    @include reset-pm;
}
.img__logo{
    width: 8rem;
    height: 2.5rem;
    object-fit: cover;
}

.img__slider{
    width: 100%;
    height: 80vh;
}

.text__ofert{
    cursor:pointer;
    background-color: $cool-rosa;
    border-radius: 10px;
    border: solid 1px #857f7f;
    width:250px;
    height:180px;
    text-align: center;
    color:$cool-blanco;
    font-size:11rem;
}

.text__ofert:hover{
    background-color: $cool-naranja;
}

.container__info{
    background-color: $cool-morado;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    color: $cool-blanco;
    width: 100%;
    height: 350px;
    .icon__info{
        color: $cool-blanco;
        font-size:9rem
    }
}

.container__icon--pagos{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size:5rem;
    color:#ccc4c4;
}

.text__pagos{
    text-align: center;
    color:$cool-morado;
}

.btn-tienda{
    a{ 
        text-decoration:none;
        color:$cool-morado;
    }
    @include card-btn;
    .icon__tienda{
        @include icon-card-btn;
    }
}

.btn-tienda:hover{
    a{color:$cool-blanco}
    @include card-btn__hover;
    .icon__tienda{
        @include icon-card__hover
    }
}

.btn-oulet{
    a{ 
        text-decoration:none;
        color:$cool-morado;
    }
    @include card-btn;
    .icon__oulet{
        @include icon-card-btn;
    }
}

.btn-oulet:hover{
    a{color:$cool-blanco}
    @include card-btn__hover;
    .icon__oulet{
        @include icon-card__hover
    }
}

/*---------------------Aqui esta el boton de whatsapp ---------------------------*/

.btn__whatsapp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    width:60px;
    height:60px;
    border-radius:50px;
    background-color: #25D940;
    bottom: 15px;
    right: 30px;
    cursor:pointer;
    z-index: 100;
    animation: latidos 3s infinite;
   .icon__whatsapp{
       font-size:3rem;
       color: $cool-blanco;
   }
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

.btn__whatsapp:hover{
    background-color:$cool-blanco;
    .icon__whatsapp{
    color:#25D940;}
}


/*---------------------------Aqui esta el footer -----------------------------*/

footer{
    background-color:$cool-morado;
    color:$cool-blanco;
    text-align: center;
    font-weight: 600;
    padding:30px 0px 0px 0px;
    h3{
        margin:30px 15px 10px 30px;
    }
    ul{
        margin:10px 15px 10px 30px;
         li{
        display: block;
        padding:5px;
        a{
            text-decoration: underline;
            font-weight: 400;
            color: $cool-blanco;
        }
        }
    }
    .footer__derechos{
        padding-top:20px;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:$cool-negro;
        color: $cool-blanco;
        text-align: center;
        font-weight: 400;
        
    }
}

 /* ---------------------------Aqui Empieza la tienda -------------------------------------*/

 #jeans:checked ~ #card .remeras{display:none;}; 
 #jeans:checked ~ #card .buzos{display:none;};
 #jeans:checked ~ #card .camperas{display:none;};
 
 #buzos:checked ~ #card .remeras{display:none};
 #buzos:checked ~ #card .jeans{display:none};
 #buzos:checked ~ #card .camperas{display:none};

 #remeras:checked ~ #card .jeans{display:none};
 #remeras:checked ~ #card .camperas{display:none};
 #remeras:checked ~ #card .buzos{display:none};

 #camperas:checked ~ #card .buzos{display:none};
 #camperas:checked ~ #card .jeans{display:none};
 #camperas:checked ~ #card .remeras{display:none};

 .container__flitro{
     width: 100%;
    background-color:$cool-morado;
    text-align: center;
    font-weight: 400;
     color:white;
     label{padding:10px;}
 }

.container__articulos{
    @include secciones-tienda;
    }
   
/* --------------------------Aqui empieza la page locales ------------------------*/
.container__locales{
    text-align: center;
    color:$cool-morado;
}
.img__local{
    border-radius: 10px;
}
.container__text--local{ 
    color:$cool-negro;
    background-color: $cool-blanco;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width:550px;
    height:200px;
}

.container__info--locales{
    color:$cool-negro;
    .redes{
        color:$cool-morado;
        font-size: 3rem;
        a{
            text-decoration: none;
            color:$cool-morado ;
        }
    }
}

/* --------------------Aqui comienza la page Contacto--------------------*/


.container__redesSociales{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    font-size:10rem;
    a{
        color:$cool-morado !important;
        text-decoration: none;
    }
}

.container__form{
    width:80%;
    border-radius: 20px;;
    color:$cool-blanco;
    background-color:$cool-morado;
}

.text-area{
    box-sizing: border-box;
    max-width: 100%;
    min-height: 250px;
}

/*--------------------- Aqui estan las MediaQueries -----------*/

@media (max-width: 768px){
    .container__encabezado{
        h1{
        font-size:1.5rem;}
        }
    .container__icon--pagos{
        font-size:2rem;
    }
    .container__info{
        width: 100%;
        height: 400px;
        .icon__info{
            font-size:2rem;
        }
    }
    
    .img__slider{
        height:40vh;
    }
}

@media (max-width:576px){

    .card{
        
    }

    .container__info{
        width: 100%;
        height: 460px;
        font-weight: 400;;
        .icon__info{
            font-size:2rem;
        }
    }

    .text__ofert{
        width:90%;
        height:100px;
        padding-top:5%;
        h2{font-size:1.5rem;}
    }

    .container__flitro{
        h1{
            font-size:1rem;
        }
        label{
            padding:5px;
            font-size:0.7rem !important;
            font-weight:400 !important;
        }
    }
}

.text__contacto{
    width:90%;
    h1{
        font-size:1.2rem;
    }
}

.container__form{
    width:100%;
}

.container__redesSociales{
    a{
        font-size:5rem;
    }
    
}

.container__text--local{
    h2{
        font-size:1.5rem;

    }
    p{
        font-size:1rem;
        font-weight: 400;;
    }
}

